body{
  background-color: #18263F;
}
.center{
  text-align: center;
}
.swatch{
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.error-handling{
  text-align: center;
  background-color: rgba(255, 102, 102, 1);
}


.search-bar {
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  padding: 20px;
  border-radius: 25px;
  background-color: #FFFFFF;
}


.search-result {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  margin-top: 3%;
  margin-right: 20%;
  margin-left: 20%;
  padding: 20px;
  border-radius: 25px;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #4C586F;
  font-size: 150%;
}

#main-title{
  font-family: 'Oswald', sans-serif;
  color: #4C586F;
  font-weight: bold;
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
}



#main-subtitle{
  text-align: center;
  background-color: #FFFFFF;
  font-family: 'Cormorant Garamond', serif;
  color: #4C586F;
  padding-top: 10px;
  margin-top: -20px;
  padding-bottom: 30px;
  font-style: italic;
  font-size: 150%;
}

.search-title{
  font-family: 'Cormorant Garamond', serif;
  color: #4C586F;
  font-weight: bold;
  font-size: 150%;
}

input{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #f2f2f2;
}


.table-title {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 125%;
}

@media only screen and (max-width: 800px) {
  .search-result {
    font-size: 105%;
  }
}


@media only screen and (max-width: 600px) {
  #address {
    width: 150px;
  }

  .search-bar {
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
    padding: 20px;
    border-radius: 25px;
    background-color: #FFFFFF;
  }


  .search-result {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 20px;
    border-radius: 25px;
    background-color: #FFFFFF;
    font-weight: bold;
    color: #4C586F;
    font-size: 100%;
  }


}
